<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="rakhadiasry.app.kumpulanhadist">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Kumpulan Hadits"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:theme="@style/AppThemeNoActionBar"
            android:name=".viewholder.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:theme="@style/AppTheme"
            android:name=".viewholder.MainActivity"/>
        <activity
            android:theme="@style/AppTheme"
            android:name=".viewholder.DetailActivity"/>

    </application>

</manifest>
